# Stroke Prediction
Name: Martina Perkovic, Marc Pham

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
orig_data = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [49]:
pp_data = orig_data.drop("id", axis=1)
pp_data = pp_data.dropna(subset=['bmi'])
pp_data.reset_index(inplace=True, drop=True)

le = LabelEncoder()
le_cols = ['gender', 'ever_married', 'Residence_type']
for col in le_cols:
    pp_data[col] = le.fit_transform(pp_data[col])

ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
ohe_cols = ['work_type', 'smoking_status']
encoded = pd.DataFrame(ohe.fit_transform(pp_data[ohe_cols]), columns=ohe.get_feature_names_out(ohe_cols))
encoded = encoded.drop('smoking_status_Unknown', axis=1)
pp_data = pd.concat([pp_data.drop(columns=ohe_cols), encoded], axis=1)

pp_data

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,67.0,0,1,1,1,228.69,36.6,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1,80.0,0,1,1,0,105.92,32.5,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0,49.0,0,0,1,1,171.23,34.4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0,79.0,1,0,1,0,174.12,24.0,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1,81.0,0,0,1,1,186.21,29.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,0,13.0,0,0,0,0,103.08,18.6,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4905,0,81.0,0,0,1,1,125.20,40.0,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4906,0,35.0,0,0,1,0,82.99,30.6,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4907,1,51.0,0,0,1,0,166.29,25.6,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4908,0,44.0,0,0,1,1,85.28,26.2,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
for col in pp_data.columns:
    print(np.unique(pp_data[col], return_counts=True))

(array([0, 1, 2]), array([2897, 2011,    1]))
(array([8.00e-02, 1.60e-01, 2.40e-01, 3.20e-01, 4.00e-01, 4.80e-01,
       5.60e-01, 6.40e-01, 7.20e-01, 8.00e-01, 8.80e-01, 1.00e+00,
       1.08e+00, 1.16e+00, 1.24e+00, 1.32e+00, 1.40e+00, 1.48e+00,
       1.56e+00, 1.64e+00, 1.72e+00, 1.80e+00, 1.88e+00, 2.00e+00,
       3.00e+00, 4.00e+00, 5.00e+00, 6.00e+00, 7.00e+00, 8.00e+00,
       9.00e+00, 1.00e+01, 1.10e+01, 1.20e+01, 1.30e+01, 1.40e+01,
       1.50e+01, 1.60e+01, 1.70e+01, 1.80e+01, 1.90e+01, 2.00e+01,
       2.10e+01, 2.20e+01, 2.30e+01, 2.40e+01, 2.50e+01, 2.60e+01,
       2.70e+01, 2.80e+01, 2.90e+01, 3.00e+01, 3.10e+01, 3.20e+01,
       3.30e+01, 3.40e+01, 3.50e+01, 3.60e+01, 3.70e+01, 3.80e+01,
       3.90e+01, 4.00e+01, 4.10e+01, 4.20e+01, 4.30e+01, 4.40e+01,
       4.50e+01, 4.60e+01, 4.70e+01, 4.80e+01, 4.90e+01, 5.00e+01,
       5.10e+01, 5.20e+01, 5.30e+01, 5.40e+01, 5.50e+01, 5.60e+01,
       5.70e+01, 5.80e+01, 5.90e+01, 6.00e+01, 6.10e+01, 6.20e+01,
       6.30e+01, 6.40e+01, 6.50e+01, 6.60e+01, 6.70e+01, 6.80e+01,
       6.90e+01, 7.00e+01, 7.10e+01, 7.20e+01, 7.30e+01, 7.40e+01,
       7.50e+01, 7.60e+01, 7.70e+01, 7.80e+01, 7.90e+01, 8.00e+01,
       8.10e+01, 8.20e+01]), array([ 2,  3,  5,  5,  2,  2,  5,  4,  5,  4,  5,  5,  7,  4,  8,  6,  3,
        6,  4,  8,  6,  8,  7, 55, 44, 34, 64, 23, 31, 57, 37, 34, 36, 45,
       55, 53, 45, 51, 58, 59, 49, 56, 47, 45, 62, 55, 55, 62, 54, 54, 49,
       53, 75, 68, 55, 64, 51, 52, 74, 69, 70, 70, 71, 68, 68, 74, 82, 61,
       73, 62, 76, 81, 83, 85, 83, 84, 83, 76, 93, 62, 75, 68, 70, 72, 70,
       52, 60, 57, 45, 45, 51, 42, 53, 41, 42, 38, 48, 42, 37, 93, 77, 67,
       60, 55]))
(array([0, 1]), array([4458,  451]))
(array([0, 1]), array([4666,  243]))
(array([0, 1]), array([1705, 3204]))
(array([0, 1]), array([2419, 2490]))
(array([ 55.12,  55.22,  55.23, ..., 267.61, 267.76, 271.74]), array([1, 1, 1, ..., 1, 1, 1]))
(array([10.3, 11.3, 11.5, 12. , 12.3, 12.8, 13. , 13.2, 13.3, 13.4, 13.5,
       13.7, 13.8, 13.9, 14. , 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.8,
       14.9, 15. , 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7, 15.8, 15.9,
       16. , 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8, 16.9, 17. ,
       17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9, 18. , 18.1,
       18.2, 18.3, 18.4, 18.5, 18.6, 18.7, 18.8, 18.9, 19. , 19.1, 19.2,
       19.3, 19.4, 19.5, 19.6, 19.7, 19.8, 19.9, 20. , 20.1, 20.2, 20.3,
       20.4, 20.5, 20.6, 20.7, 20.8, 20.9, 21. , 21.1, 21.2, 21.3, 21.4,
       21.5, 21.6, 21.7, 21.8, 21.9, 22. , 22.1, 22.2, 22.3, 22.4, 22.5,
       22.6, 22.7, 22.8, 22.9, 23. , 23.1, 23.2, 23.3, 23.4, 23.5, 23.6,
       23.7, 23.8, 23.9, 24. , 24.1, 24.2, 24.3, 24.4, 24.5, 24.6, 24.7,
       24.8, 24.9, 25. , 25.1, 25.2, 25.3, 25.4, 25.5, 25.6, 25.7, 25.8,
       25.9, 26. , 26.1, 26.2, 26.3, 26.4, 26.5, 26.6, 26.7, 26.8, 26.9,
       27. , 27.1, 27.2, 27.3, 27.4, 27.5, 27.6, 27.7, 27.8, 27.9, 28. ,
       28.1, 28.2, 28.3, 28.4, 28.5, 28.6, 28.7, 28.8, 28.9, 29. , 29.1,
       29.2, 29.3, 29.4, 29.5, 29.6, 29.7, 29.8, 29.9, 30. , 30.1, 30.2,
       30.3, 30.4, 30.5, 30.6, 30.7, 30.8, 30.9, 31. , 31.1, 31.2, 31.3,
       31.4, 31.5, 31.6, 31.7, 31.8, 31.9, 32. , 32.1, 32.2, 32.3, 32.4,
       32.5, 32.6, 32.7, 32.8, 32.9, 33. , 33.1, 33.2, 33.3, 33.4, 33.5,
       33.6, 33.7, 33.8, 33.9, 34. , 34.1, 34.2, 34.3, 34.4, 34.5, 34.6,
       34.7, 34.8, 34.9, 35. , 35.1, 35.2, 35.3, 35.4, 35.5, 35.6, 35.7,
       35.8, 35.9, 36. , 36.1, 36.2, 36.3, 36.4, 36.5, 36.6, 36.7, 36.8,
       36.9, 37. , 37.1, 37.2, 37.3, 37.4, 37.5, 37.6, 37.7, 37.8, 37.9,
       38. , 38.1, 38.2, 38.3, 38.4, 38.5, 38.6, 38.7, 38.8, 38.9, 39. ,
       39.1, 39.2, 39.3, 39.4, 39.5, 39.6, 39.7, 39.8, 39.9, 40. , 40.1,
       40.2, 40.3, 40.4, 40.5, 40.6, 40.7, 40.8, 40.9, 41. , 41.1, 41.2,
       41.3, 41.4, 41.5, 41.6, 41.7, 41.8, 41.9, 42. , 42.1, 42.2, 42.3,
       42.4, 42.5, 42.6, 42.7, 42.8, 42.9, 43. , 43.1, 43.2, 43.3, 43.4,
       43.6, 43.7, 43.8, 43.9, 44. , 44.1, 44.2, 44.3, 44.4, 44.5, 44.6,
       44.7, 44.8, 44.9, 45. , 45.1, 45.2, 45.3, 45.4, 45.5, 45.7, 45.8,
       45.9, 46. , 46.1, 46.2, 46.3, 46.4, 46.5, 46.6, 46.8, 46.9, 47.1,
       47.3, 47.4, 47.5, 47.6, 47.8, 47.9, 48. , 48.1, 48.2, 48.3, 48.4,
       48.5, 48.7, 48.8, 48.9, 49.2, 49.3, 49.4, 49.5, 49.8, 49.9, 50.1,
       50.2, 50.3, 50.4, 50.5, 50.6, 50.8, 50.9, 51. , 51.5, 51.7, 51.8,
       51.9, 52.3, 52.5, 52.7, 52.8, 52.9, 53.4, 53.5, 53.8, 53.9, 54. ,
       54.1, 54.2, 54.3, 54.6, 54.7, 54.8, 55. , 55.1, 55.2, 55.7, 55.9,
       56. , 56.1, 56.6, 57.2, 57.3, 57.5, 57.7, 57.9, 58.1, 59.7, 60.2,
       60.9, 61.2, 61.6, 63.3, 64.4, 64.8, 66.8, 71.9, 78. , 92. , 97.6]), array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  1,  1,  5,  4,
        3,  2,  2,  4,  4,  1,  2,  8,  4,  4,  3,  5,  3,  3,  5,  5,  8,
        8, 10, 10, 11,  4,  8, 11,  7,  7, 10, 12, 11,  9, 13,  7, 16, 13,
        7,  7, 16, 12,  9, 17, 10, 12, 19, 13, 15,  8,  7, 11, 13,  9, 14,
       21,  7,  8, 17,  9, 17, 25, 16, 17, 23, 18, 15, 12, 17, 13, 17, 16,
       16, 21, 22, 27, 16, 14, 18, 14, 15, 22, 30, 18, 22, 13, 18, 25, 25,
       16, 27, 21, 20, 19, 36, 31, 24, 16, 22, 24, 28, 28, 29, 26, 23, 26,
       22, 22, 31, 27, 27, 34, 18, 28, 26, 33, 21, 15, 24, 24, 25, 37, 27,
       23, 34, 30, 29, 37, 21, 34, 35, 28, 24, 36, 22, 29, 37, 37, 23, 28,
       28, 29, 25, 30, 38, 27, 27, 41, 26, 31, 26, 29, 26, 22, 30, 26, 26,
       27, 23, 26, 27, 26, 20, 30, 17, 24, 18, 23, 21, 27, 22, 26, 19, 21,
       30, 27, 21, 14, 24, 22, 21, 24, 20, 28, 19, 21, 19, 21, 25, 13, 15,
       25, 17, 15, 16, 23, 11, 19, 13, 13, 17, 15, 17, 18, 18, 21, 11, 20,
       15, 11, 12, 10, 16, 12,  9, 13, 15, 13, 24, 18, 11,  7, 12, 13, 10,
        4, 14, 15,  8, 13, 10,  7,  9, 13, 11,  9,  9,  7, 10, 11, 13, 10,
        9,  2,  6,  7,  9, 11, 10,  8,  7,  8, 10,  6, 10,  8,  9,  8,  5,
        5,  6, 10, 10,  8,  9,  7,  1,  1,  7,  6,  3,  7,  8,  6,  3,  8,
        5,  7, 11,  5,  3,  3,  8,  5,  5,  2,  4,  4,  3,  3,  8,  4,  4,
        5,  6,  4,  7,  9,  8,  4,  1,  4,  3,  1,  4,  2,  6,  4,  2,  5,
        2,  3,  4,  4,  4,  2,  1,  2,  4,  2,  2,  1,  1,  2,  1,  1,  2,
        1,  2,  1,  3,  3,  2,  1,  1,  1,  1,  2,  1,  2,  1,  2,  3,  1,
        3,  1,  2,  3,  1,  2,  4,  2,  1,  1,  2,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  2,  3,  1,  2,  1,  2,  1,  1,  1,  1,  1,  2,  3,  1,
        2,  1,  1,  4,  2,  1,  1,  2,  2,  1,  1,  1,  1,  1,  1,  1,  2,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1]))
(array([0, 1]), array([4700,  209]))
(array([0., 1.]), array([4279,  630]))
(array([0., 1.]), array([4887,   22]))
(array([0., 1.]), array([2098, 2811]))
(array([0., 1.]), array([4134,  775]))
(array([0., 1.]), array([4238,  671]))
(array([0., 1.]), array([4072,  837]))
(array([0., 1.]), array([3057, 1852]))
(array([0., 1.]), array([4172,  737]))

In [18]:
orig_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [17]:
for col in orig_data.columns:
    print(np.unique(orig_data[col], return_counts=True))
# pd.DataFrame(np.unique(orig_data['Residence_type'], return_counts=True))

(array([   67,    77,    84, ..., 72915, 72918, 72940]), array([1, 1, 1, ..., 1, 1, 1]))
(array(['Female', 'Male', 'Other'], dtype=object), array([2994, 2115,    1]))
(array([8.00e-02, 1.60e-01, 2.40e-01, 3.20e-01, 4.00e-01, 4.80e-01,
       5.60e-01, 6.40e-01, 7.20e-01, 8.00e-01, 8.80e-01, 1.00e+00,
       1.08e+00, 1.16e+00, 1.24e+00, 1.32e+00, 1.40e+00, 1.48e+00,
       1.56e+00, 1.64e+00, 1.72e+00, 1.80e+00, 1.88e+00, 2.00e+00,
       3.00e+00, 4.00e+00, 5.00e+00, 6.00e+00, 7.00e+00, 8.00e+00,
       9.00e+00, 1.00e+01, 1.10e+01, 1.20e+01, 1.30e+01, 1.40e+01,
       1.50e+01, 1.60e+01, 1.70e+01, 1.80e+01, 1.90e+01, 2.00e+01,
       2.10e+01, 2.20e+01, 2.30e+01, 2.40e+01, 2.50e+01, 2.60e+01,
       2.70e+01, 2.80e+01, 2.90e+01, 3.00e+01, 3.10e+01, 3.20e+01,
       3.30e+01, 3.40e+01, 3.50e+01, 3.60e+01, 3.70e+01, 3.80e+01,
       3.90e+01, 4.00e+01, 4.10e+01, 4.20e+01, 4.30e+01, 4.40e+01,
       4.50e+01, 4.60e+01, 4.70e+01, 4.80e+01, 4.90e+01, 5.00e+01,
       5.10e+01, 5.20e+01, 5.30e+01, 5.40e+01, 5.50e+01, 5.60e+01,
       5.70e+01, 5.80e+01, 5.90e+01, 6.00e+01, 6.10e+01, 6.20e+01,
       6.30e+01, 6.40e+01, 6.50e+01, 6.60e+01, 6.70e+01, 6.80e+01,
       6.90e+01, 7.00e+01, 7.10e+01, 7.20e+01, 7.30e+01, 7.40e+01,
       7.50e+01, 7.60e+01, 7.70e+01, 7.80e+01, 7.90e+01, 8.00e+01,
       8.10e+01, 8.20e+01]), array([  2,   3,   5,   5,   2,   3,   5,   4,   5,   4,   5,   5,   8,
         4,   8,   8,   3,   6,   4,   8,   6,   9,   8,  55,  46,  34,
        65,  24,  32,  58,  38,  35,  36,  45,  57,  54,  45,  52,  60,
        60,  50,  59,  47,  45,  64,  55,  57,  62,  55,  54,  51,  55,
        79,  71,  57,  68,  54,  52,  76,  72,  71,  74,  73,  71,  70,
        75,  85,  62,  75,  66,  79,  83,  86,  90,  85,  87,  83,  77,
        95,  68,  80,  72,  76,  74,  74,  53,  62,  60,  49,  47,  54,
        45,  61,  45,  46,  40,  53,  50,  42, 102,  85,  70,  60,  56]))
(array([0, 1]), array([4612,  498]))
(array([0, 1]), array([4834,  276]))
(array(['No', 'Yes'], dtype=object), array([1757, 3353]))
(array(['Govt_job', 'Never_worked', 'Private', 'Self-employed', 'children'],
      dtype=object), array([ 657,   22, 2925,  819,  687]))
(array(['Rural', 'Urban'], dtype=object), array([2514, 2596]))
(array([ 55.12,  55.22,  55.23, ..., 267.61, 267.76, 271.74]), array([1, 1, 1, ..., 1, 1, 1]))
(array([10.3, 11.3, 11.5, 12. , 12.3, 12.8, 13. , 13.2, 13.3, 13.4, 13.5,
       13.7, 13.8, 13.9, 14. , 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.8,
       14.9, 15. , 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7, 15.8, 15.9,
       16. , 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8, 16.9, 17. ,
       17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9, 18. , 18.1,
       18.2, 18.3, 18.4, 18.5, 18.6, 18.7, 18.8, 18.9, 19. , 19.1, 19.2,
       19.3, 19.4, 19.5, 19.6, 19.7, 19.8, 19.9, 20. , 20.1, 20.2, 20.3,
       20.4, 20.5, 20.6, 20.7, 20.8, 20.9, 21. , 21.1, 21.2, 21.3, 21.4,
       21.5, 21.6, 21.7, 21.8, 21.9, 22. , 22.1, 22.2, 22.3, 22.4, 22.5,
       22.6, 22.7, 22.8, 22.9, 23. , 23.1, 23.2, 23.3, 23.4, 23.5, 23.6,
       23.7, 23.8, 23.9, 24. , 24.1, 24.2, 24.3, 24.4, 24.5, 24.6, 24.7,
       24.8, 24.9, 25. , 25.1, 25.2, 25.3, 25.4, 25.5, 25.6, 25.7, 25.8,
       25.9, 26. , 26.1, 26.2, 26.3, 26.4, 26.5, 26.6, 26.7, 26.8, 26.9,
       27. , 27.1, 27.2, 27.3, 27.4, 27.5, 27.6, 27.7, 27.8, 27.9, 28. ,
       28.1, 28.2, 28.3, 28.4, 28.5, 28.6, 28.7, 28.8, 28.9, 29. , 29.1,
       29.2, 29.3, 29.4, 29.5, 29.6, 29.7, 29.8, 29.9, 30. , 30.1, 30.2,
       30.3, 30.4, 30.5, 30.6, 30.7, 30.8, 30.9, 31. , 31.1, 31.2, 31.3,
       31.4, 31.5, 31.6, 31.7, 31.8, 31.9, 32. , 32.1, 32.2, 32.3, 32.4,
       32.5, 32.6, 32.7, 32.8, 32.9, 33. , 33.1, 33.2, 33.3, 33.4, 33.5,
       33.6, 33.7, 33.8, 33.9, 34. , 34.1, 34.2, 34.3, 34.4, 34.5, 34.6,
       34.7, 34.8, 34.9, 35. , 35.1, 35.2, 35.3, 35.4, 35.5, 35.6, 35.7,
       35.8, 35.9, 36. , 36.1, 36.2, 36.3, 36.4, 36.5, 36.6, 36.7, 36.8,
       36.9, 37. , 37.1, 37.2, 37.3, 37.4, 37.5, 37.6, 37.7, 37.8, 37.9,
       38. , 38.1, 38.2, 38.3, 38.4, 38.5, 38.6, 38.7, 38.8, 38.9, 39. ,
       39.1, 39.2, 39.3, 39.4, 39.5, 39.6, 39.7, 39.8, 39.9, 40. , 40.1,
       40.2, 40.3, 40.4, 40.5, 40.6, 40.7, 40.8, 40.9, 41. , 41.1, 41.2,
       41.3, 41.4, 41.5, 41.6, 41.7, 41.8, 41.9, 42. , 42.1, 42.2, 42.3,
       42.4, 42.5, 42.6, 42.7, 42.8, 42.9, 43. , 43.1, 43.2, 43.3, 43.4,
       43.6, 43.7, 43.8, 43.9, 44. , 44.1, 44.2, 44.3, 44.4, 44.5, 44.6,
       44.7, 44.8, 44.9, 45. , 45.1, 45.2, 45.3, 45.4, 45.5, 45.7, 45.8,
       45.9, 46. , 46.1, 46.2, 46.3, 46.4, 46.5, 46.6, 46.8, 46.9, 47.1,
       47.3, 47.4, 47.5, 47.6, 47.8, 47.9, 48. , 48.1, 48.2, 48.3, 48.4,
       48.5, 48.7, 48.8, 48.9, 49.2, 49.3, 49.4, 49.5, 49.8, 49.9, 50.1,
       50.2, 50.3, 50.4, 50.5, 50.6, 50.8, 50.9, 51. , 51.5, 51.7, 51.8,
       51.9, 52.3, 52.5, 52.7, 52.8, 52.9, 53.4, 53.5, 53.8, 53.9, 54. ,
       54.1, 54.2, 54.3, 54.6, 54.7, 54.8, 55. , 55.1, 55.2, 55.7, 55.9,
       56. , 56.1, 56.6, 57.2, 57.3, 57.5, 57.7, 57.9, 58.1, 59.7, 60.2,
       60.9, 61.2, 61.6, 63.3, 64.4, 64.8, 66.8, 71.9, 78. , 92. , 97.6,
        nan]), array([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   2,   2,
         1,   1,   5,   4,   3,   2,   2,   4,   4,   1,   2,   8,   4,
         4,   3,   5,   3,   3,   5,   5,   8,   8,  10,  10,  11,   4,
         8,  11,   7,   7,  10,  12,  11,   9,  13,   7,  16,  13,   7,
         7,  16,  12,   9,  17,  10,  12,  19,  13,  15,   8,   7,  11,
        13,   9,  14,  21,   7,   8,  17,   9,  17,  25,  16,  17,  23,
        18,  15,  12,  17,  13,  17,  16,  16,  21,  22,  27,  16,  14,
        18,  14,  15,  22,  30,  18,  22,  13,  18,  25,  25,  16,  27,
        21,  20,  19,  36,  31,  24,  16,  22,  24,  28,  28,  29,  26,
        23,  26,  22,  22,  31,  27,  27,  34,  18,  28,  26,  33,  21,
        15,  24,  24,  25,  37,  27,  23,  34,  30,  29,  37,  21,  34,
        35,  28,  24,  36,  22,  29,  37,  37,  23,  28,  28,  29,  25,
        30,  38,  27,  27,  41,  26,  31,  26,  29,  26,  22,  30,  26,
        26,  27,  23,  26,  27,  26,  20,  30,  17,  24,  18,  23,  21,
        27,  22,  26,  19,  21,  30,  27,  21,  14,  24,  22,  21,  24,
        20,  28,  19,  21,  19,  21,  25,  13,  15,  25,  17,  15,  16,
        23,  11,  19,  13,  13,  17,  15,  17,  18,  18,  21,  11,  20,
        15,  11,  12,  10,  16,  12,   9,  13,  15,  13,  24,  18,  11,
         7,  12,  13,  10,   4,  14,  15,   8,  13,  10,   7,   9,  13,
        11,   9,   9,   7,  10,  11,  13,  10,   9,   2,   6,   7,   9,
        11,  10,   8,   7,   8,  10,   6,  10,   8,   9,   8,   5,   5,
         6,  10,  10,   8,   9,   7,   1,   1,   7,   6,   3,   7,   8,
         6,   3,   8,   5,   7,  11,   5,   3,   3,   8,   5,   5,   2,
         4,   4,   3,   3,   8,   4,   4,   5,   6,   4,   7,   9,   8,
         4,   1,   4,   3,   1,   4,   2,   6,   4,   2,   5,   2,   3,
         4,   4,   4,   2,   1,   2,   4,   2,   2,   1,   1,   2,   1,
         1,   2,   1,   2,   1,   3,   3,   2,   1,   1,   1,   1,   2,
         1,   2,   1,   2,   3,   1,   3,   1,   2,   3,   1,   2,   4,
         2,   1,   1,   2,   1,   1,   1,   1,   1,   1,   2,   1,   1,
         2,   3,   1,   2,   1,   2,   1,   1,   1,   1,   1,   2,   3,
         1,   2,   1,   1,   4,   2,   1,   1,   2,   2,   1,   1,   1,
         1,   1,   1,   1,   2,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1, 201]))
(array(['Unknown', 'formerly smoked', 'never smoked', 'smokes'],
      dtype=object), array([1544,  885, 1892,  789]))
(array([0, 1]), array([4861,  249]))

In [ ]:
def preprocess_train_test_data(df_train, df_test, feature_space):
    ds_train = create_dataset_from_dataframe(df_train)
    ds_test = create_dataset_from_dataframe(df_test)
    
    train_ds_with_no_labels = ds_train.map(lambda x, _: x)
    feature_space.adapt(train_ds_with_no_labels)

    return ds_train, ds_test

In [ ]:
feature_space = FeatureSpace(
    features={
        # Categorical features encoded as integers
        "Tuition_fees_up_to_date": FeatureSpace.integer_categorical(num_oov_indices=1),
        "Scholarship_holder": FeatureSpace.integer_categorical(num_oov_indices=1),
        "Debtor": FeatureSpace.integer_categorical(num_oov_indices=1),
        "Gender": FeatureSpace.integer_categorical(num_oov_indices=1),
        "Application_mode": FeatureSpace.integer_categorical(num_oov_indices=1),
        "Displaced": FeatureSpace.integer_categorical(num_oov_indices=1),

        # Numeric variables
        "Curricular_units_2nd_sem_(grade)": FeatureSpace.float_normalized(),
        "Curricular_units_2nd_sem_(approved)": FeatureSpace.float_normalized(),
        "Curricular_units_1st_sem_(grade)": FeatureSpace.float_normalized(),
        "Curricular_units_1st_sem_(approved)": FeatureSpace.float_normalized(),
        "Age_at_enrollment": FeatureSpace.float_normalized(),
        "Curricular_units_2nd_sem_(evaluations)": FeatureSpace.float_normalized(),
        "Curricular_units_2nd_sem_(enrolled)": FeatureSpace.float_normalized(),
        "Curricular_units_1st_sem_(enrolled)": FeatureSpace.float_normalized(),
    },
    crosses=[
        FeatureSpace.cross(feature_names=('Tuition_fees_up_to_date', 'Scholarship_holder', 'Debtor'), crossing_dim=2*2*2),
        FeatureSpace.cross(feature_names=('Displaced', 'Gender'), crossing_dim=2*2),
        FeatureSpace.cross(feature_names=('Displaced', 'Tuition_fees_up_to_date'), crossing_dim=2*2),
        FeatureSpace.cross(feature_names=('Application_mode', 'Scholarship_holder'), crossing_dim=18*2),
    ],
    output_mode="concat"
)

In [ ]:
ds_train, ds_test = preprocess_train_test_data(df_train, df_test, feature_space)